Source: antix-installer
Section: system
Priority: optional
Maintainer: anticapitalista <antiX@operamail.com>
Build-Depends: debhelper (>= 9.20120115)
Standards-Version: 3.9.4
Homepage: http://antix.mepis.org

Package: antix-installer
Architecture: amd64
Depends: libqt4-gui, os-prober 
Recommends: gparted, partitionmanager
Description: GUI installer for antiX.
